.sidebarMenu {
  width: 220px;
  height: 100vh;
  background: #000;
  color: #fff;
  position: sticky;
  top: 0;
  overflow: auto;
  font-size: 2.3vh;
}

.sidebarMenu::-webkit-scrollbar {
  display: none;
}
.sideMenus,
.sideOptions {
  background: linear-gradient(to bottom, #111, #050505, #000);
  height: 200px;
  margin-top: 0px;
  padding: 30px;
}
.sideMenus li {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  opacity: 0.5;
  cursor: pointer;
}

.sideMenus li:hover {
  opacity: 1;
  color: #ff8302;
}

.sideOptions {
  padding: 30px 15px;
}
.sideOptions li {
  display: block;
  margin-bottom: 10px;
  padding: 0.3em 1em;
  opacity: 0.5;
  border-radius: 0.2em;
  cursor: pointer;
}
.sideOptions li:nth-child(1) {
  background: #222;
  font-weight: bolder;
  opacity: 0.9;
}

.sideOptions li:hover {
  background: #222;
  opacity: 0.9;
  color: #ff8302;
}

.sidebarBtn {
  padding: 0 15px;
  margin-top: -10px;
  font-size: 2.3vh;
}
.sidebarBtn button {
  background: transparent;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  padding: 6px;
  opacity: 0.8;
  margin-bottom: 5px;
  border-radius: 5px;
  color: #fff;
  border: 0.05em solid rgba(255, 255, 255, 0.3);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  justify-content: space-between;
}

.sidebarBtn button:hover {
  background: #ff8302;
  color: #fff;
  opacity: 1;
  border-radius: 20px;
}

.sidebarBtn div {
  display: flex;
  align-items: center;
}

#btnImg {
  height: 2.5vh;
  /* margin-left: 0.5em; */
}

@media screen and (max-width: 1000px) {
  .sidebarMenu {
    display: none;
  }
}
